
	<% if GAME.games <= 1 %>

		<h2>You selected <%= GAME.player_pick %> </h2>
		<h2><%= GAME.autoplayer_name %> selected <%= GAME.autoplayer_pick %></h2>

	<% end %>


	<h2>THE OVERALL RESULT.... </h2>

		<% if GAME.winner == "Draw" %>
			<h2>It's a draw!</h3>
		<% else %>
			<h2><%= GAME.winner %> won!</h2>
		<% end %>
	
	<form action="/" method="post">
		<input type="hidden" name="player1_name" value="<%= @player1_name%>">
		<input type="submit" value="Play Again">
	</form>